/*Font Connection*/
@font-face {
    font-family: 'Jaapokkisubtract';
    src: url('../fonts/JaapokkisubtractRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/JaapokkisubtractRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/JaapokkisubtractRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/JaapokkisubtractRegular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/JaapokkisubtractRegular#svgFontName') format('svg'); /* Legacy iOS */
}

/*Specification*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #0909ac;
    letter-spacing: 0.06em;
}
p{
    line-height: 1.7em;
}
.container {
    margin: 0 7%;
    position: relative;
}
.jpk-font {
    font-family: 'Jaapokkisubtract', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Jaapokkisubtract', sans-serif;
    letter-spacing: 0.14em;
    font-weight: normal;
    line-height: 1.25em;
}
h2{
    letter-spacing: 0.04em;
    margin: 0;
}
h3 {
    letter-spacing: 0.03em;
    margin: 0;
}
div, span, h, footer, button, input{
    box-sizing: border-box; 
}
.btn {
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 20px;
    color: #ffffff;
    background: transparent;
    border: 3px solid #ffffff;
    cursor: pointer;
    padding: 17px 0;
    width: 217px;   
}
.btn:hover {
    background: #fff;
    color: #0001c5;
    transition: all 0.3s ease;
}

/*Header*/
.header {
    background: #0909ac url(../img/first_bg.jpg) no-repeat center bottom / cover;
    color: #ffffff;
    height: 100vh;
    box-shadow: 0 40px 190px rgba(33, 48, 99, 0.4);
}
.header .container{
    height: 100vh;
}
.logo {
    height: 49px;
    width: 48px;
    background: #fff;
    color: #0000a0;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    display: block;
    text-decoration: none;
    position: absolute;
    top: 8%;
}
.logo:hover{
    border-radius: 10px;
    transition: all 0.3s ease;
}
.name {
    background: #ffffff;
    color: #0000a0;
    font-size: 18px;
    width: 43px;
    height: 180px;
    padding: 0 17px;
    position: absolute;
    left: 60%; 
    top: 0;
    padding-top: 10px;
    text-align: center;
}
.hamburger {
    width: 40px;
    position: absolute;
    right: 0;
    top: 8%
}
.hamburger span{
    display: block;
    background: #ffffff;
    height: 2px;
    margin-bottom: 6px;
    float: right;
    width: 100%;
    cursor: pointer;
}
.hamburger:hover span{
    float: left;
}
.hamburger span:nth-child(1){
}
.hamburger span:nth-child(2) {
    width: 75%;
}
.hamburger span:nth-child(3){
    width: 50%;
}
.offer{
    position: absolute;
    left:0;
    top: 50%;
    margin-top:-190px;
 
}
.offer__bg {
    font-size: 300px;
    color: #1b1cc4;

}
.offer__title {
    font-size: 55px;
    position: relative;
    width: 581px;
    top: -280px;
    left: 100px;
}
.offer__line {
    background: #fff;
    width: 29px;
    height: 5px;
    position: absolute;
    right: 300px;
    top: 100px;
}
.offer__text {
    font-size: 17px;
    width: 337px;
    margin-top: -270px;
    margin-left: 226px;
}
.offer__btn{
    margin-left: 320px;
    margin-top: 40px;
}
.next {
    font-size: 270px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 65%;
margin-top:-130px;
    line-height: 0;
    text-shadow: 15px 15px 0 #0309a1
}
.next span{
    margin-right:-70px;
    line-height:0.7em;
}
.next span:nth-child(2){
    color:#0048ff;
}
.scroll {
    display: block;
    font-size: 20px;
    border-right: 3px solid #fff;
    height: 120px;
    padding-top: 20px;
    color: #fff;
    width: 100px;
    text-decoration: none;
    position: absolute;
    right: 3%;
    bottom: 0;
    transition: all 0.3s ease;
}
.scroll:hover {
    color: #0048ff;
    background: #ffffff;
}
/*Services*/
.services{
    padding-top: 166px;
}
.section-title{

}
.section-title__title{
    font-size: 85px;
    margin-left: 50px;
}
.section-title__title::after {
    content:"";
    display: inline-block;
    background: #0001c5;
    width: 29px;
    height: 4px;
    margin-bottom: -15px;


}
.section-title__intro {
    font-family: 'Jaapokkisubtract', sans-serif;
    color: #a6a6e4;
    font-size: 23px;
    margin: 0;
}
.service{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 180px;
}
.service__item {
    width: 15%;
    border: 4px solid #0001c5;
    display: block;
    padding-left: 53px;
    padding-top: 60px;
    padding-bottom: 120px;
    position: relative;
    transition: all 0.3s ease;
    text-decoration: none;
}
.service__icon {
    font-size: 48px;
    margin-bottom: 45px;
    display: block;
}
.service__title{
    font-size: 26px;
}
.service__more {
    font-size: 31px;
    width: 40px;
    height: 37px;
    background: #0001c5;
    color: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
}
.service__index {
    position: absolute;
    font-family: 'Jaapokkisubtract', sans-serif;
    font-size: 23px;
    color: #a8a8e4;
    left: -55px;
    top: 30px;
}

.service__item:hover {
    background: #0001c5;
    color: #fff;
    box-shadow: 12px 12px 65px rgba(0,1,197,0.45);
}
/*Footer*/
.footer {
    background: #ededf8;
    padding: 160px 0;
}


.credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.credits__logo {
    background: #0001c5;
    color: #fff;
    position: relative;
    top: auto;
}

.credits__btn {
    color: #0001c5;
    border: 3px solid #0001c5;
    font-size: 17px;
    padding: 13px 0;
    width: 172px;
}

.credits__up {
    text-decoration: none;
}

